body {
    height: 100vh;
    position: relative;
    z-index: 1;
}
.wallPaper{
    opacity: 0.5;
    background-image: url('../images/fitness_background.jpeg');
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainInput,
.inputZ,
.input-group .form-control {
    z-index: auto;
}

.titleFont {
    font-family: 'Special Elite', cursive;
    color: black;
}

.titleFont2 {
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 2rem;
}

.statsContainer {
    height: 8%;
}

.formContainer {
    height: auto;
}

.msgBtn {
    display: flex;
    /* align-items: top; */
    justify-content: center;
}

.modalMargin {
    margin: 0;
    align-items: middle;
    justify-content: center;
}

.bulletList {
    list-style-type: square;
}

tbody#displayArea tr:nth-child(odd) {
    background-color: rgb(213, 243, 255);
}


/* exercise bar */

.exerciseForm {
    height: 100vh;
    background-color: rgb(227, 227, 227);
}


/* table */
.tableContainer {
    padding: 0;
    z-index: 0;
}

.tableHeader {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #eee;
}



.tableHead {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}

.row_data {
    overflow: hidden;
    white-space: nowrap;
    width: 125px;
}


.iconBtn {
    font-size: 2.5rem;
    margin: 5px;
}

.updateBtn {
    top: 1px;
    position: relative;
}

.modal {
    position: fixed;
    bottom: auto;
    top: 15%;
}

.modal-dialog {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.modal-content {
    margin: 0 auto;
}

.modal-backdrop.in {
    z-index: auto;
}

.btn_save,
.btn_yes {
    color: green
}

.btn_cancel,
.btn_no {
    margin-left: 7px;
    color: red;
}

.btn_edit:hover {
    color: rgb(5, 188, 5);
}

.btn_delete:hover {
    color: red;
}

.questionIcon {
    font-size: 1.7rem;
    color: white;
}

.questionIcon:hover {
    font-size: 1.7rem;
    color: red;
}

/* calendar */
.dateTimeContainer {

    padding: 0 0;
}

.page-header {
    border-bottom: none;
}

.dateTimeCalendar {
    padding: 0;
}

.wordDate {
    text-align: center;
    font-size: 1.8rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}

.btn_question {
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: rem;
}

.btn_question:hover {
    color: red;
}

.instructions,
.instructions2 {
    text-align: center;
    margin-bottom: 3%;
}


.dateCancel {
    height: 10px;
    padding: 0;
    text-align: center;
}

.refreshBtnContainer {
    padding-left: 2px;
    /* bottom: 5px; */
}

.refreshBtn {
    color: white;
    /* margin-top: 8px; */
}

.refreshBtn:hover {
    color: green;
}

.form-control {
    font-size: 1.2rem;
}



/* media query tables
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 767px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table.titleFont,
    thead.stripes,
    tbody,
    th.stripes,
    td.tdContainer,
    tr {
        display: block;
    }

    thead.stripes tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr.test {
        border: 1px solid #ccc;
    }

    td.tdContainer {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td.tdContainer:before {
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
	Label the data
	*/
    td.tdContainer:nth-child(1):before {
        content: "Date";
    }

    td.tdContainer:nth-child(2):before {
        content: "Exercise";
    }

    td.tdContainer:nth-child(3):before {
        content: "Set";
    }

    td.tdContainer:nth-child(4):before {
        content: "Rep";
    }

    td.tdContainer:nth-child(5):before {
        content: "Weight";
    }

    td.tdContainer:nth-child(6):before {
        content: "Rest";
    }

    td.tdContainer:nth-child(7):before {
        content: "Options";
    }

    tr.rowClass:nth-child(even) {
        /* background-color: #3f3e3e; */
    }
}

/* Media Query Exercise Bar */

@media only screen and (max-device-width: 700px) {
    .exerciseForm {
        position: relative;
        height: auto;
        padding-bottom: 10px;
        top: 0;
        background-color: rgb(215, 215, 215);
    }

    .statsContainer {
        height: 5px;
    }

    .input-group[class*=col-] {
        float: left;
    }

    .dateTimeContainer {
        position: relative;
        bottom: 0;
        left: 0;
        /* padding: 0; */
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1000px) and (orientation: landscape) {

    .add,
    .cancel {
        margin: 0 auto;
        padding: 0;
        display: inline-block;
    }

    .exerciseForm {
        font-size: .8rem;
        height: 100%;
        width: 30%;
        margin-bottom: 20px;
        top: 0;
        position: fixed;
        background-color: rgb(215, 215, 215);
    }

    .form-group {
        margin-bottom: 10px;
        z-index: 10;
    }

    .dateTimeContainer {
        /* position: absolute; */
        bottom: 0px;

        left: 0;
        /* padding: 0; */
    }

    .tableFit {
        width: 70%;
        left: 30%;
    }

    .inputSize {
        font-size: 1rem;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 811px) and (orientation: landscape) {
    .refreshBtnContainer {
        left: 40%;
        position: relative;
        bottom: 6px;
    }

    .iconBtn {
        font-size: 1.5rem;
    }

    /* .dateTimeContainer{
        margin-top:10px;
    } */
}

@media only screen and (min-device-width: 812px) and (max-device-width: 812px) and (orientation: landscape) {
    .dateTimeContainer {
        position: absolute;
        bottom: -9px;
        left: 0;
        /* padding: 0; */
    }

    .tableFit {
        width: 70%;
        left: 30%;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {
    .dateTimeContainer {
        position: static;
        bottom: 20%;
        /* left: 0; */
        padding: 0;
    }

    .tableFit {
        width: 75%;
        /* left:30%; */
    }

    .refreshBtnContainer {
        left: 40%;
    }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) {
    .dateTimeContainer {
        position: static;
        margin-top: 10%;
        bottom: 30%;
        left: 0;
        padding: 0;
    }

    .tableFit {
        width: 75%;
        /* left:30%; */
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
    .refreshBtnContainer {
        left: 40%;
    }

    .tableFit {
        width: 75%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
    .dateTimeContainer {
        position: relative;
        left: 0;
    }

    .tableFit {
        width: 75%;
    }
}

@media only screen and (min-device-width: 568px) and (max-device-width: 568px) and (orientation: landscape) {
    .dateTimeContainer {
        display: none;
    }

    .tableFit {
        width: 75%;
        left: 25%;
    }
}

@media only screen and (min-device-width: 640px) and (max-device-width: 640px) and (orientation: landscape) {
    .dateTimeContainer {
        display: none;
    }

    .tableFit {
        width: 70%;
        left: 30%;
    }
}

@media only screen and (min-device-width: 1px) and (max-device-width: 450PX) {
    .refreshBtnContainer {
        left: 45%;
    }
}


@media only screen and (min-device-width: 480px) and (max-device-width: 480px) and (orientation: landscape) {
    .dateTimeContainer {
        display: none;
    }

    .tableFit {
        width: 70%;
        left: 30%;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1100px) {
    .wordDate {
        text-align: center;
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }

    .questionIcon {
        font-size: 1.3rem;
        color: white;
    }
}